@import url("https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Pre:wght@400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Pre:wght@400..700&family=Kalam:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Aboreto&family=Bungee+Tint&family=Edu+AU+VIC+WA+NT+Pre:wght@400..700&family=Kalam:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Aboreto&family=Bungee+Tint&family=Edu+AU+VIC+WA+NT+Pre:wght@400..700&family=Glass+Antiqua&family=Kalam:wght@300;400;700&display=swap");
* {
  margin: 0;
  padding: 0;
}

nav {
  background-color: rgb(127, 21, 0);
  color: white;
  text-align: center;
  height: 58px;
  font-size: 30px;
  display: flex;
  padding: 0 12px;
  justify-content: center;
  cursor: pointer;
}

ul li {
  list-style: none;
  font-family: "Edu AU VIC WA NT Pre", serif;
}
.GameContainer {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  flex-wrap: wrap;
  cursor: default;
}
.Container {
  display: grid;
  grid-template-rows: repeat(3, 10vw);
  grid-template-columns: repeat(3, 10vw);
  font-family: "Kalam", cursive;
}
.box {
  border: 2px solid black;
  font-size: 8vw;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box:hover {
  background-color: rgb(255, 226, 219);
}
.GameInfo {
  font-family: "Bungee Tint", sans-serif;
  font-size: 1.5vw;
  padding: 0 34px;
}
.ImgBox img {
  width: 0;
  transition: width 1s ease-in-out;
  position: relative;
  top: 19px;
  left: -5px;
  max-width: 14vw;
}
.br-0 {
  border-right: 0px;
}
.bl-0 {
  border-left: 0px;
}
.bt-0 {
  border-top: 0px;
}
.bb-0 {
  border-bottom: 0px;
}
#Reset {
  font-family: "Aboreto", serif;
  font-weight: bold;
  border-radius: 3px;
  cursor: pointer;
  font-size: 0.6em;
  padding: 4px;
  position: relative;
  left: 15px;
  top: -2px;
  box-shadow: 0px 2px 8px rgba(255, 0, 0, 0.463);
  background-color: rgba(255, 0, 0, 0.114);
}

@media screen and (max-width: 800px) {
  .GameContainer {
    width: 82%;
    position: relative;
    left: 25px;
  }
  .GameInfo {
    position: relative;
    top: 25px;
    text-align: center;
  }
  .Container {
    display: grid;
    grid-template-rows: repeat(3, 13vw);
    grid-template-columns: repeat(3, 13vw);
    font-family: "Kalam", cursive;
  }
  .ImgBox img {
    width: 0;
    transition: width 1s ease-in-out;
    position: relative;
    top: 19px;
    left: -5px;
  }
  #Reset {
    font-family: "Aboreto", serif;
    font-weight: bold;
    border-radius: 3px;
    cursor: pointer;
    font-size: 0.8em;
    padding: 4px;
    position: relative;
    left: 10px;
    top: 0px;
    box-shadow: 0px 2px 8px rgba(255, 0, 0, 0.463);
    background-color: rgba(255, 0, 0, 0.114);
  }
}
